# ===== Visual Studio cache / user =====
.vs/
*.suo
*.user
*.VC.db
*.VC.opendb

# ===== MSBuild intermediates =====
*.obj
*.pch
*.ipch
*.pdb
*.idb
*.ilk
*.tlog
*.lastbuildstate
*.log

# ===== Binaries =====
*.exe
*.dll
*.lib

# ===== Build directories =====
Debug/
Release/
x64/
x86/
build/
out/